# Loopback-boot variant: when the ISO is chainloaded as a file from another
# bootloader (e.g. ventoy), this entry is used instead of grub.cfg.
search --no-floppy --set=gameos_img_dev --file "${iso_path}"
probe --set gameos_img_dev_uuid --fs-uuid "${gameos_img_dev}"

default=gameos
timeout=3
timeout_style=menu

menuentry "GameOS Installer" --class arch --class gnu-linux --class gnu --class os --id 'gameos' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${gameos_img_dev_uuid} img_loop="${iso_path}"
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}
